<div class="col-lg-12">
    <div class="input-group">
        <span class="input-group-btn">
          <button  type="button"
                   (click)="cambioValor(-5)"
                   [ngClass]="btnclase">
            <i class="fa fa-minus"></i>
          </button>
        </span>

        <input type="number"
               class="form-control"
               [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
               min="0"
               max="100"
               placeholder="Product name"
               (ngModelChange)="onChange($event)"
               [(ngModel)] = "progreso">

        <span class="input-group-btn">
          <button class="btn btn-primary"
                  type="button"
                  (click)="cambioValor(5)"
                  [ngClass]="btnclase">
            <i class="fa fa-plus"></i>
          </button>
        </span>
    </div>
</div>
